<div class="w-8/12 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
  <span class="text-3xl font-semibold">Who's Watching?</span>
  <ul class="flex flex-wrap gap-2 justify-center mt-4 mb-8">
    <li>
      <div class="flex flex-col items-center text-center">
        <img class="max-w-xs rounded-md" src="../../../../../assets/icons/UserIcon.png" alt="Lucas' user icon">
        <span class="text-gray-900">Lucas</span>
      </div>
    </li>
    <li>
      <div class="flex flex-col items-center text-center">
        <img class="max-w-xs rounded-md" src="../../../../../assets/icons/UserIcon.png" alt="Lucas' user icon">
        <span class="text-gray-900">Lucas</span>
      </div>
    </li>
    <li>
      <div class="flex flex-col items-center text-center">
        <img class="max-w-xs rounded-md" src="../../../../../assets/icons/UserIcon.png" alt="Lucas' user icon">
        <span class="text-gray-900">Lucas</span>
      </div>
    </li>
    <li>
      <div class="flex flex-col items-center text-center">
        <img class="max-w-xs" src="../../../../../assets/icons/add-icon.png" alt="Lucas' user icon">
        <span class="text-gray-900">Add Profile</span>
      </div>
    </li>
  </ul>
  <a class="border py-1 px-2 mt-2">Manage Profiles</a>
</div>