<div class="text-white min-h-screen flex flex-col bg-blueberry lg:bg-landing-header lg:bg-cover">
  <div class="mx-4 mt-4 flex items-start lg:w-11/12 lg:mx-auto lg:mt-6">
    <a routerLink="/">
      <img class="h-6 lg:h-10" src="../../../../../assets/icons/SeriesWatcherLogoWhite.png" alt="SeriesWatcher Logo">
    </a>
  </div>
  <div class="mx-4 mt-10 mb-20 md:max-w-[50%] md:mx-auto md:mt-32 lg:bg-black/60 lg:p-20 lg:max-w-[25vw]">
    <h1 class="text-3xl font-semibold">Sign In</h1>
    <form class="flex flex-col items-start space-y-8 mt-8">
      <input class="py-3 px-4 w-full rounded-md text-white bg-dark-grey focus:outline-none lg:p-5" type="text" placeholder="Email or phone number">
      <input class="py-3 px-4 w-full rounded-md text-white bg-dark-grey focus:outline-none lg:p-5" type="password" placeholder="Password">
      <button class="bg-red-600 w-full py-3 font-semibold rounded-md" routerLink="/dashboard/user-selection" type="button">Sign In</button>
    </form>
    <div class="text-xs my-4 flex justify-between items-center">
      <label class="flex text-sm">
        <input class="w-5 mr-2" type="checkbox" id="rememberMe" name="rememberMe" />
        Remember me
      </label>
      <a class="text-sm">Need help?</a>
    </div>
    <div class="mt-14 mb-4">New to SeriesWatcher? <a class="font-semibold">Sign up now.</a></div>
    <span class="text-sm">This page is protected by Google reCAPTCHA to ensure you're not a bot. <a class="text-blue-700">Learn more.</a></span>
  </div>
  <div class="border-t border-gray-200 pt-8 pb-10 px-4 mt-auto text-gray-100 lg:border-none lg:bg-black/60">
    <div class="lg:w-3/6 lg:mx-auto">
      <span>Questions? Call <a class="underline">0000 000 0000</a></span>
      <ul class="grid grid-cols-2 my-8 text-sm lg:grid-rows-2 lg:grid-cols-4 lg:gap-6">
        <li><a class="underline">FAQ</a></li>
        <li><a class="underline">Help Centre</a></li>
        <li><a class="underline">SeriesWatcher Shop</a></li>
        <li><a class="underline">Terms of Use</a></li>
        <li><a class="underline">Privacy</a></li>
        <li><a class="underline">Cookie Preferences</a></li>
        <li><a class="underline">Corporate Information</a></li>
        <li><a class="underline">Advert choices</a></li>
      </ul>
    </div>
  </div>
</div>