<div class="flex flex-col">
    <div [ngClass]="navOpen == true ? 'bg-blueberry' : 'bg-gradient-to-b from-blueberry to-dark-grey'" class="h-10 px-4 flex justify-between items-center">
        <div class="space-x-4 flex items-center h-full">
            <div (click)="navOpen=!navOpen">
                <div class="hamburger-slab"></div>
                <div class="hamburger-slab"></div>
                <div class="hamburger-slab"></div>
            </div>
            <a routerLink="/dashboard/">
                <img class="h-4" src="../../../assets/icons/SeriesWatcherLogoWhite.png" alt="SeriesWatcher Logo">
            </a>
        </div>
        <div>
            <input class="border border-gray-400 placeholder-gray-400 rounded-none p-1 w-28 bg-dark-grey" type="text" placeholder="Search">
        </div>
    </div>
    <div class="fixed top-10 left-0 h-[100svh] overflow-hidden z-20" [ngClass]="navOpen ? 'w-full' : 'w-0'">
        <nav class="bg-blueberry text-gray-200 overflow-y-scroll h-[100svh] font-semibold max-w-0 transition-all whitespace-nowrap pb-20" [ngClass]="navOpen ? 'max-w-[60%]' : ''">
            <ul class="p-4 border-b border-dark-grey">
                <li>
                    <a routerLink="user-selection" (click)="navOpen=false" class="flex items-center hover:text-white focus:text-white">
                        <img class="w-8" src="../../../assets/icons/UserIcon.png" alt="Lucas' Icon">
                        <div class="ml-2 flex flex-col">
                            <span>Lucas</span>
                            <span class="text-xs font-medium">Switch Profiles</span>
                        </div>
                    </a>
                </li>
                <li><a class="hover:text-white focus:text-white">Account</a></li>
                <li><a class="hover:text-white focus:text-white">Help Centre</a></li>
                <li><a routerLink="/" class="hover:text-white focus:text-white">Sign out of SeriesWatcher</a></li>
            </ul>
            <ul class="p-4">
                <li><a routerLink="/dashboard/" class="hover:text-white focus:text-white">Home</a></li>
                <li><a class="hover:text-white focus:text-white">My List</a></li>
                <li><a class="hover:text-white focus:text-white">Thrillers</a></li>
                <li><a class="hover:text-white focus:text-white">Crime</a></li>
                <li><a class="hover:text-white focus:text-white">Kids & Family</a></li>
                <li><a class="hover:text-white focus:text-white">International FIlms & TV</a></li>
                <li><a class="hover:text-white focus:text-white">Reality TV</a></li>
                <li><a class="hover:text-white focus:text-white">Action</a></li>
                <li><a class="hover:text-white focus:text-white">Anime</a></li>
                <li><a class="hover:text-white focus:text-white">Comedies</a></li>
                <li><a class="hover:text-white focus:text-white">Fantasy</a></li>
                <li><a class="hover:text-white focus:text-white">Sci-Fi</a></li>
                <li><a class="hover:text-white focus:text-white">Horror</a></li>
                <li><a class="hover:text-white focus:text-white">Stand-up Comedy</a></li>
                <li><a class="hover:text-white focus:text-white">Documentaries</a></li>
                <li><a class="hover:text-white focus:text-white">European Films & TV</a></li>
                <li><a class="hover:text-white focus:text-white">Music & Musicals</a></li>
                <li><a class="hover:text-white focus:text-white">Romance</a></li>
                <li><a class="hover:text-white focus:text-white">Dramas</a></li>
                <li><a class="hover:text-white focus:text-white">British Movies & TV</a></li>
            </ul>
        </nav>
        <div class="bg-black/20 fixed top-0 right-0 mt-10 w-screen h-[100svh] -z-10" (click)="navOpen=false" *ngIf="navOpen"></div>
    </div>
</div>

<router-outlet></router-outlet>