<div class="w-full h-10 bg-gradient-to-b from-blue-900 to-blue-400 px-4 flex justify-between items-center">
    <div class="space-x-4 flex items-center h-full">
        <div>
            <div class="hamburger-slab"></div>
            <div class="hamburger-slab"></div>
            <div class="hamburger-slab"></div>
        </div>
        <img style="height:30px;" src="../../../assets/icons/SeriesWatcherLogo.png" alt="SeriesWatcher Logo">
    </div>
    <div>
        <input class="border border-white placeholder-white rounded-none p-1 w-28 bg-blue-300" type="text" placeholder="Search">
    </div>
</div>
<router-outlet></router-outlet>