<div class="bg-slate-500 pt-4 px-4 pb-8">
  <div class="h-16 flex justify-between items-center">
    <img class="h-full" src="../../../../../assets/icons/SeriesWatcherLogo.png" alt="SeriesWatcher Logo">
    <a class="bg-red-600 text-white font-semibold py-1 px-4 rounded-md">Sign In</a>
  </div>
  <div class="flex flex-col items-center text-center mt-8 text-white space-y-4">
    <h1 class="text-3xl font-bold">Unlimited films, TV programmes and more</h1>
    <p class="text-lg font-semibold">Watch anywhere. Cancel any time.</p>
    <p class="text-lg font-semibold">Ready to watch? Enter your email to create or restart your membership.</p>
    <input class="border border-gray-300 bg-gray-800/50 placeholder:text-gray-200 p-3 w-5/6 rounded-sm" type="text" placeholder="Email address">
    <button class="text-xl bg-red-600 py-2 px-8 rounded-md font-semibold">Get Started</button>
  </div>
</div>
<div class="m-4 rounded-md custom-radial text-white font-semibold px-4 pb-4 pt-14 space-y-4 relative">
  <img class="absolute top-0 left-0 -translate-y-1/2 h-24 ml-4" src="../../../../../assets/icons/popcorn.png" alt="Popcorn with glow icon">
  <span class="text-xl">The SeriesWatcher you love for just £4.99.</span>
  <p class="text-lg">Get the Standard with adverts plan.</p>
  <a class="text-lg underline text-blue-500">Learn More</a>
</div>
<div class="text-white text-center mx-4 my-10">
  <h2 class="text-3xl font-bold">Enjoy on your TV</h2>
  <p class="font-semibold text-lg">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
</div>