<div class="text-white bg-blueberry">
  <div class="pt-4 px-4 pb-8 bg-landing-header bg-cover lg:bg-cover lg:h-[70vh] lg:relative">
    <div class="h-16 flex justify-between items-center lg:w-4/5 lg:mx-auto">
      <img class="h-6 lg:h-10" src="../../../../../assets/icons/SeriesWatcherLogoWhite.png" alt="SeriesWatcher Logo">
      <a class="bg-red-600 font-semibold py-1 px-4 rounded-md lg:px-6 lg:py-3" routerLink="/login">Sign In</a>
    </div>
    <div class="flex flex-col items-center text-center mt-10 space-y-4 md:mt-20 lg:absolute lg:left-1/2 lg:-translate-x-1/2 lg:w-4/5 lg:top-1/2 lg:-translate-y-1/2">
      <h1 class="text-3xl font-bold lg:text-6xl">Unlimited films, TV programmes and more</h1>
      <p class="text-lg font-medium lg:text-3xl">Watch anywhere. Cancel at any time.</p>
      <p class="text-lg font-medium lg:text-xl">Ready to watch? Enter your email to create or restart your membership.</p>
      <div class="md:grid md:grid-cols-3 md:gap-x-2">
        <input
          class="border border-gray-300 bg-gray-800/50 placeholder:text-gray-200 p-3 w-5/6 rounded-md my-4 focus:outline-4 focus:outline-gray-100 md:col-span-2 md:w-full md:my-0 lg:text-lg"
          type="text"
          placeholder="Email address"
        >
        <button
          class="text-xl bg-red-600 py-3 px-8 rounded-md font-semibold whitespace-nowrap md:col-span-1"
          routerLink="/register"
        >Get Started</button>
      </div>
    </div>
  </div>
  <div class="m-4 rounded-md custom-radial px-4 pb-4 pt-14 relative md:flex md:items-center md:justify-center md:py-10 md:w-5/6 md:mx-auto lg:mt-0 lg:-translate-y-1/2">
    <img class="absolute top-0 left-0 -translate-y-1/2 h-24 ml-4 md:static md:translate-y-0 md:mx-8 lg:mx-10" src="../../../../../assets/icons/popcorn.png" alt="Popcorn with glow icon">
    <div class="flex flex-col gap-y-2">
      <span class="text-xl font-semibold">The SeriesWatcher you love for just £4.99.</span>
      <p class="text-lg font-medium">Get the Standard with adverts plan.</p>
      <a class="text-lg underline text-blue-500 font-medium">Learn More</a>
    </div>
  </div>
  <div class="text-center">
    <div class="text-center my-10 px-4 lg:grid lg:grid-cols-2 lg:items-center lg:text-left lg:px-0 lg:w-4/5 lg:mx-auto">
      <div>
        <h2 class="text-3xl font-bold mb-4 lg:text-6xl lg:mb-8">Enjoy on your TV</h2>
        <p class="font-medium text-lg lg:text-3xl">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
      </div>
      <img class="w-full mt-4 md:w-5/6 md:mx-auto md:mt-20" src="../../../../../assets/icons/imageofpc.png" alt="PC image">
    </div>
    <div class="border-t-8 border-dark-grey px-4 py-10 lg:grid lg:grid-cols-2 lg:items-center lg:text-left lg:px-0 lg:w-4/5 lg:mx-auto">
      <div class="lg:order-1">
        <h2 class="text-3xl font-bold mb-4 lg:text-6xl lg:mb-8">Watch everywhere</h2>
        <p class="font-medium text-lg lg:text-3xl">Stream unlimited films and TV programmes on your phone, tablet, laptop and TV.</p>
      </div>
      <img class="w-full mt-4 md:w-5/6 md:mx-auto md:mt-20" src="../../../../../assets/icons/devicesimg.png" alt="Devices image">
    </div>
    <div class="border-t-8 border-dark-grey px-4 py-10 lg:grid lg:grid-cols-2 lg:items-center lg:text-left lg:px-0 lg:w-4/5 lg:mx-auto">
      <div>
        <h2 class="text-3xl font-bold mb-4 lg:text-6xl lg:mb-8">Create profiles for children</h2>
        <p class="font-medium text-lg lg:text-3xl">Send children on adventures with their favourite characters in a space made just for them - free with your membership</p>
      </div>
      <img class="w-full mt-4 md:w-5/6 md:mx-auto md:mt-20" src="../../../../../assets/icons/kidsimg.png" alt="Kids around device image">
    </div>
    <div class="border-t-8 border-b-8 border-dark-grey px-4 py-10 lg:grid lg:grid-cols-2 lg:items-center lg:text-left lg:px-0 lg:w-4/5 lg:mx-auto">
      <div class="lg:order-1">
        <h2 class="text-3xl font-bold mb-4 lg:text-6xl lg:mb-8">Download your programmes to watch offline</h2>
        <p class="font-medium text-lg lg:text-3xl">Only available on advert-free plans.</p>
      </div>
      <img class="w-full mt-4" src="../../../../../assets/icons/phoneimg.png" alt="Phone image">
    </div>
  </div>
  <div class="lg:w-4/5 lg:mx-auto">
    <h2 class="text-3xl font-bold text-center mt-8 lg:text-6xl">Frequently Asked Questions</h2>
    <ul class="mx-4 space-y-2 my-10 lg:text-3xl">
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria1" aria-controls="faq-1" (click)="faqaria1=!faqaria1">
            <span class="flex-1 text-left">What is SeriesWatcher?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria1 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria1 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">SeriesWatcher is a streaming service that offers a wide variety of award-winning TV programmes, films, anime, documentaries and more on thousands of internet-connected devices.
            <br>
            <br>
            You can watch as much as you want, whenever you want – all for one low monthly price. There's always something new to discover, and new TV programmes and films are added every week!
          </p>
        </div>
      </li>
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria2" aria-controls="faq-1" (click)="faqaria2=!faqaria2">
            <span class="flex-1 text-left">How much does SeriesWatcher cost?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria2 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria2 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">Watch SeriesWatcher on your smartphone, tablet, smart TV, laptop or streaming device, all for one fixed monthly fee. Plans range from £4.99 to £15.99 a month. No extra costs, no contracts.</p>
        </div>
      </li>
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria3" aria-controls="faq-1" (click)="faqaria3=!faqaria3">
            <span class="flex-1 text-left">Where can I watch?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria3 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria3 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">
            Watch anywhere, anytime. Sign in with your SeriesWatcher account to watch instantly on the web at SeriesWatcher.com from your personal computer or on any internet-connected device that offers the SeriesWatcher app, including smart TVs, smartphones, tablets, streaming media players and game consoles.
            <br><br>
            You can also download your favourite programmes with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take SeriesWatcher with you anywhere.
          </p>
        </div>
      </li>
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria4" aria-controls="faq-1" (click)="faqaria4=!faqaria4">
            <span class="flex-1 text-left">How do I cancel?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria4 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria4 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">
            SeriesWatcher is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account at any time.
          </p>
        </div>
      </li>
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria5" aria-controls="faq-1" (click)="faqaria5=!faqaria5">
            <span class="flex-1 text-left">What can I watch on SeriesWatcher?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria5 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria5 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">
            SeriesWatcher has an extensive library of feature films, documentaries, TV programmes, anime, award-winning SeriesWatcher originals, and more. Watch as much as you want, any time you want.
          </p>
        </div>
      </li>
      <li>
        <h3>
          <button class="flex items-center p-4 bg-dark-grey w-full lg:p-6" type="button" [ariaExpanded]="faqaria6" aria-controls="faq-1" (click)="faqaria6=!faqaria6">
            <span class="flex-1 text-left">Is SeriesWatcher good for children?</span>
            <img class="h-8 transition-all" src="../../../../../assets/icons/plus.svg" [ngClass]="faqaria6 ? 'rotate-45' : ''">
          </button>
        </h3>
        <div class="overflow-hidden transition-all max-h-0" aria-labelledby="faq-1" [ngClass]="faqaria6 ? 'max-h-[100rem]' : ''">
          <p class="p-4 mt-px bg-dark-grey lg:p-6">
            The SeriesWatcher Children's experience is included in your membership to give parents control while children enjoy family-friendly TV programmes and films in their own space.
            <br>
            <br>
            Children's profiles come with PIN-protected parental controls that let you restrict the maturity rating of content children can watch and block specific titles you don’t want children to see.
          </p>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="w-5/6 mx-auto py-8 text-center pb-20 md:w-5/6 lg:w-2/5">
    <h3 class="font-medium text-lg md:mb-4 lg:text-xl">Ready to watch? Enter your email to create or restart your membership.</h3>
    <!-- <div class="md:grid md:grid-cols-3 md:gap-x-2"> -->
    <div class="md:flex md:gap-2 lg:w-4/5 lg:mx-auto">
      <input
        class="border border-gray-300 bg-gray-800/50 placeholder:text-gray-200 p-3 w-5/6 rounded-md my-4 focus:outline-4 focus:outline-gray-100 md:col-span-2 md:w-full md:my-0 lg:text-lg"
        type="text"
        placeholder="Email address"
      >
      <button
        routerLink="/register"
        class="text-xl bg-red-600 py-3 px-8 rounded-md font-semibold whitespace-nowrap md:col-span-1"
      >Get Started</button>
    </div>
  </div>
</div>

<footer class="pt-4 px-4 pb-8 text-gray-100 bg-blueberry border-t-8 border-dark-grey lg:py-20">
  <div class="lg:w-4/5 lg:mx-auto">
    <span class="font-semibold">Questions? Call <a class="underline">0000 000 0000</a></span>
    <ul class="grid grid-cols-2 underline gap-2 my-4 text-sm lg:grid-cols-4 lg:gap-4">
      <li><a>FAQ</a></li>
      <li><a>Help Centre</a></li>
      <li><a>Account</a></li>
      <li><a>Media Centre</a></li>
      <li><a>Investor relations</a></li>
      <li><a>Jobs</a></li>
      <li><a>SeriesWatcher Shop</a></li>
      <li><a>Redeem gift cards</a></li>
      <li><a>Buy gift cards</a></li>
      <li><a>Ways to watch</a></li>
      <li><a>Terms of Use</a></li>
      <li><a>Privacy</a></li>
      <li><a>Cookie Preferences</a></li>
      <li><a>Corporate Information</a></li>
      <li><a>Contact Us</a></li>
      <li><a>Speed Test</a></li>
      <li><a>Legal Guarantee</a></li>
      <li><a>Legal Notices</a></li>
      <li><a>Only on SeriesWatcher</a></li>
      <li><a>Advert choices</a></li>
    </ul>
    <select name="language" id="language-select" class="bg-transparent block my-8 border border-gray-100 rounded-sm py-1 px-2">
      <option value="English">English</option>
    </select>
    <span class="font-semibold">SeriesWatcher Portfolio Website</span>
  </div>
</footer>